{{>header}}


<!doctype html>

<head>
    <!--  Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  stylesheet -->
     <link rel="stylesheet" type="text/css" href="../aboutUsStyle.css">

    <!--  fontawesome -->

    <script src="https://kit.fontawesome.com/b73881b7c2.js" crossorigin="anonymous"></script>
    <!--  owl-carousel -->
    <link href="css/hover-min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">

    <!-- image-hover -->
    <link rel="stylesheet" href="css/imagehover.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" /> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--  google fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!--  Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>A propos de nous</title>
</head>

<body>
<div class="container">
    <div class="about-us-page">
    <div class="single-page-intro">
        <div class="single-page-image-brand">
            <img src="http://localhost:4000/images/logo.png" alt="">
        </div>
        <h2>
            FUECO
        </h2>
    </div>
    <section class="featured-image-text">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="circle circle-2">
                        <img  src="http://localhost:4000/images/test2.jpg"
                         alt="" ">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="text-block">
                        <h3> à propos de nous
                        </h3>
     
                        <p> On dit souvent que le changement est la seule constante de la vie,c'est pour cela que nous avons créé Fueco
                           afin de changer nos habitudes qui tuent petit à petit notre planète.
                        </p>
                        <p> En réalisant les challenges qu'on propose, on se rapproche pas à pas d'une planète plus seine.
                           Unissons-nous pour protéger notre Terre afin d'assurer un meilleur avenir pour les générations futur. 
                         </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
      <section class="our-skills">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="our-skills-text">
                        <h4>Notre culture</h4>
                        <p>Chez Fueco, nous travaillons constamment ensemble pour vous apporter de nouveaux challenges, qui vous permetteront non pas seulement de rendre le monde meilleur, mais aussi de passer d'agréables moments avec vos familles, vos amis et même tout seul si vous le souhaitez.C'est pourquoi il est important que nos effectifs reflètent la diversité des personnes de la communauté de Fueco.
                      Embaucher des personnes d'horizon et de pointe de vue différents nous aide à prendre de meilleurs décisions, à innover de nouveaux challenges et à créer de meilleurs expériences pour tous.</p>
                    </div>
                </div>
               
        </div>
    </section>
    <section class="team">
        <div class="section-heading-block">
            <h4 class="section-title">
                Notre équipe
            </h4> 
        </div>
        <div class="team-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-block text-md-right">

                            <h4>Tassadit Kettouche</h4>
                            <h6>Co-Foundatrice </h6>
                            <p>Etudiate en informatique à l'université d'Aix Marseille, a cofondé Fueco et occupe actuellement le poste de PDG avec Adnane Afifi.
                      
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 ">
                        <div class="text-block text-left">
                            <h4>Adnane Afifi</h4>
                            <h6>Co-Foundateur </h6>
                            <p>Etudiat en informatique à l'université d'Aix Marseille, a cofondé Fueco et occupe actuellement le poste de PDG avec Tassadit Kettouche.
                            </p>

                        </div>
                    </div>
                </div>
               
                </div>
            </div>
        </div>
    </section>
    
</div>

<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="address">
                    <h6>
                        contact info
                    </h6>
                    <div>

                        <p> <strong>Address</strong><br> hotel finde <br> 120 ca 15th avenue-suite, usa</p>
                    </div>
                    <div>

                        <p>
                            <strong>
                                Phone number
                            </strong><br>+91 999999999</p>
                    </div>
                    <div>

                        <p><strong>Email address</strong> <br> support@dummy.com</p>
                    </div>
                </div>

            </div>
           
            </div>
        </div>
    </div>
</footer> -->
  </div>
  {{>footer}}
<!--  Optional JavaScript -->
<!--  jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js "
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous ">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous ">
</script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous ">
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.11.0/rellax.min.js"></script>

</body>

</html>