{{>header}}
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../resetpasswordStyle.css">
<!------ Include the above in your HEAD tag ---------->
</head>
<body class="bodyHomepage">
    <div class="containeree">
        <div class="login-wrap">
            <div class="login-html">

                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Recuperer mon mode passe</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                      <div class="group">
          <form method="POST" action="reset_password_2">

            <div class="group">
                <input type="text"  class="form-control" placeholder="Email" name="email"> 
        </div>

            <div class="group">
		    <div class=" pass_show"> 
                <input type="password"  class="form-control" placeholder="Votre ancien mode passe" name="currentpassword"> 
            </div> 
        </div>

             <div class="group">
            <div class=" pass_show"> 
                <input type="password"  class="form-control" placeholder="Nouveau mode passe" name="newpassword"> 
            </div> 
        </div>

             <div class="group">
            <div class="pass_show"> 
                <input type="password"  class="form-control" placeholder="Confirm Password" name="confirmpassword"> 
            </div> 
        </div>

        <div class="group text-center ">
            <button type="submit" class="button btn-outline-light" >Submit</button>
        </div>
    </form>

    <div class="hr"></div>
</div>

</div>
</div>
<script>
      
$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});  
</script>
</div>
</div>
</div>


{{>footer}}